SECRET_KEY=judayam_uzun_random_secret_key_kamida_50_belgi
DB_PASSWORD=XarajatDB_2026!Ravshanov
ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://localhost,http://127.0.0.1,http://178.104.231.34:8090
VITE_API_URL=/api/v1
NGINX_PORT=8090
SECURE_SSL_REDIRECT=False
